.logo {
  width: 150px;
  height: auto;
  margin-bottom: 20px;
}

.second {
    width: 150px;
    height: auto;
    margin-bottom: 20px;
  }

.three {
    width: 150px;
    height: auto;
    margin-bottom: 20px;
  }

.four {
    width: 150px;
    height: auto;
    margin-bottom: 20px;
  }

.five {
    width: 150px;
    height: auto;
    margin-bottom: 20px;
  }